$header-background: #f6f2f2;
$btn-background: #D2E1FF;
$btn-color-header: #3a79ff;
$btn-col-hed: #d1d6e3;
$btn-act: #5283ff;
$header-title: #3d4f9f;
$header-par: #8D96BD;
$btn-f-bg: #4C85FF;
$btn-s-bg: #f5f8ff;
$btn-rad: #d1d1e4;
$btn-col-t: #adb4d2;
$par-main-col: #4074F8;
$par-main-col-t: #adb3cb;
$col-b-line: #dae4fe;
$btn-m-background: #d43f3f;
$btn-m-bor: #ffd7d7;
$btn-m2-bor: #d2e1ff;
$btn-m2-t: #3a79ff;
$main-p-col: #5e80ff;
$main-col-sec-but: #a6b6da;
$main-p-t-col: #a4abcb;
$slide-t-it: #f3f5fa;
$t-caroul-col: #676f95;
$acor-col: #8e96b7;
$acor-bod-col: #8D96BD;
$acor-but: #e8ecf4;
$btn-subt: #565f82;
$btn-subt-sec: #c7d3ff;
$titl-main-f: #3d4f9f;
$footer-col: #aeb8d0;
$nav-text-color: #697ca6;
$nav-hover-color: #5E81FE;
$tittle-color: #4c4c4c;
$par-color: #737373;
$inp-color: #e5e5e5;
$bg-section: #2d2d2d;


$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-x: 11px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size-ms: 15px;
$font-size-md: 16px;
$font-size-mdl: 17px;
$font-size-lg: 18px;
$font-size-lgm: 20px;
$font-sie-lgsn: 24px;
$font-size-l: 25px;
$font-size-lgs: 36px;
$font-size-sbg: 40px;
$font-size-llb: 48px;
$font-size-bg: 60px;